
 <!-- File: tanulo.git
 Author: Szabó Brigitta
 Copyright: 2023, Szabó Brigitta
 Group: Szoft II/N
 Date: 2023-03-08
 Github: https://github.com/tailorbrigit/
 Licenc: GNU GPL -->





<div class="container">

    <h1 class="text-center">Rólunk</h1>

<ul class="list-group mt-5">
   
    <li class="list-group-item">Készítő:  {{name}}</li>
    <li class="list-group-item">Dátum:    {{date}}</li>
    <li class="list-group-item">Csoport:  {{group}}</li>
    <li class="list-group-item">Program:  {{program}}</li>
    <li class="list-group-item">Verzió:   {{version}}</li>
    <li class="list-group-item">Github: <a href={{git}}>{{git}}</a></li>
</ul>


</div>

