<!-- File: tanulo.ng
 Author: Szabó Brigitta
 Copyright: 2023, Szabó Brigitta
 Group: Szoft II/N
 Date: 2023-03-08
 Github: https://github.com/tailorbrigit/
 Licenc: GNU GPL -->


<div class="cont">
  <ul class="nav justify-content-center ">
 <li class="nav-item">
   <a class="nav-link active" aria-current="page" href="/">Tanulók</a>
 </li>
 <li class="nav-item ">
   <a class="nav-link nav-pills " href="/about">About</a>
 </li>
</ul> 
</div>


<div class="container ">
  <router-outlet></router-outlet>

</div>
